* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
}

header h1 {
  font-size: 29px;
  text-align: center;
  padding: 20px;
  background-color: rgb(45, 89, 170);
  color: white;
}

header h1 span {
  font-size: 18px;
  color: rgb(206, 196, 196);
}

.intro {
  background-color: white;
  padding: 20px;
  margin: 10px;
  margin-top: 20px;
}

h4 {
  font-size: 20px;
  text-align: center;
}

.welcome {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  color: #333;
}

.description {
  text-align: center;
  font-size: 13px;
}

.intro ul li {
  width: 100%;
  list-style: none;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;

}

.intro ul li a {
  font-weight: bold;
  text-decoration: none;
}

.kotak {
  background-color: blue;
}

.kotak a {
  color: white;
}

.panjang a {
  color: blue;
}

main {
  margin: 10px;
  background-color: white;
  border: solid 1px blue;
  padding-bottom: 20px;
}

main h2 {
  height: 90px;
  background-color: rgb(59, 83, 216);
  text-align: center;
  line-height: 90px;
  color: white;
}

main img {
    padding-left: 35%;
}

.content {
  margin: 20px;
  border: solid 1px blue;
  padding-bottom: 20px;
  border-bottom: solid 1px black;
}

p {
  padding-left: 10px;
}

.rumus {
  font-weight: bold;
  text-align: center;
}

main .rumus {
  padding: 10px;
}

p .describe {
  margin-top: 20px;
}

.inputSection {
  display:flex;
  flex-direction:column;
  margin: 10px;
}

.inputSection label {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.inputSection input {
  height: 25px;
  margin: 10px;
}

button {
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 30px;
  color: white;
  border-radius: 6px;
  border-color: white;
}

.katikButton1 {
    margin-left: 50%;
    background-color: blue;
}

.katikButton2 {
  margin-left: 89%;
  background-color: orange;
}
