* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
  font-family: 'Times New Roman', Times, serif;
}

header h1 {
  font-family: Georgia;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  background-color: rgb(35, 58, 102);
  color: white;
  box-shadow: 5px 5px 5px black;
}

h1 span {
  font-size: 18px;
  color: rgb(206, 196, 196);
}

.intro {
  background-color: rgb(204, 213, 226);
  padding: 20px;
  margin: 20px 10px 0 10px;
  border-radius: 3px;
}

.intro h2 {
  text-shadow: 2px 2px white;
  text-align: center;
}

.welcome {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  color: #333;
}

.navigation {
  background-color: rgb(204, 213, 226);
  margin: 0 10px 0 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}

ul li {
  margin: 0 20px 0 20px;
  list-style: none;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;

}

ul li a {
  font-weight: bold;
  text-decoration: none;
}

.kotak {
  background-color: rgb(65, 107, 223);
}

.kotak a {
  color: white;
}

.panjang a {
  color: blue;
}

main {
  margin: 10px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

main .content h2, .content2 h2 {
  height: 80px;
  width: 25em;
  background-color: rgb(38, 95, 218);
  text-align: center;
  line-height: 80px;
  color: white;
}

img {
  margin: auto;
}

.content, .content2 {
  margin: 20px;
  border: solid 1px blue;
  padding-bottom: 20px;
  border-bottom: solid 1px black;
}

.rumus {
  font-weight: bold;
  text-align: center;
}

.content .describe, .content2 .describe{
  padding-left: 10px;
}

.footer {
  background-color: white;
  margin: 0 10px 10px 10px;
  padding-top: 10px;
}

.inputSection {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 0 20px;
  border: solid 1px blue;
  padding-top: 10px;
  padding-bottom: 20px;

}

.inputSection h2 {
  text-align: center;
  font-weight: bold;
}

.inputSection input {
  height: 25px;
  margin: 10px;
}

.inputSection span {
  padding-left: 10px;
}

button {
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 30px;
  color: white;
  border-radius: 6px;
  border-color: white;
}

#btnHitung {
  background-color: blue;
  width: 60px;
  margin: auto;
  border-radius: 5px;
  height: 35px;
  color: white;
  font-weight: bold;
}
  

.katikButton2 {
  background-color: rgb(212, 123, 40);
  width: 55px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
}