* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
  font-family: 'Times New Roman', Times, serif;
}

header h1 {
  font-family: Georgia;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  background-color: rgb(52, 104, 202);
  color: white;
}

h1 span {
  font-size: 18px;
  color: rgb(206, 196, 196);
}

.intro {
  background-color: white;
  padding: 20px;
  margin: 20px 10px 0 10px;;
}

.intro h2 {
  text-align: center;
}

.welcome {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  color: #333;
}

.navigation {
  background-color: white;
  margin: 0 10px 0 10px;
  padding-bottom: 10px;
}

ul li {
  margin: 0 20px 0 20px;
  list-style: none;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;

}

ul li a {
  font-weight: bold;
  text-decoration: none;
}

.kotak {
  background-color: rgb(65, 107, 223);
}

.kotak a {
  color: white;
}

.panjang a {
  color: blue;
}

main {
  margin: 10px;
  background-color: white;
}

main .content h2 {
  height: 80px;
  width: 100%;
  background-color: rgb(38, 95, 218);
  text-align: center;
  line-height: 80px;
  color: white;
}

img {
  margin: 0 35% 0 35%;
}

.content {
  margin: 20px;
  border: solid 1px blue;
  padding-bottom: 20px;
  border-bottom: solid 1px black;
}

.rumus {
  font-weight: bold;
  text-align: center;
}

.content .describe {
  padding-left: 10px;
}

.inputSection {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
  border: solid 1px blue;
  padding-top: 10px;
  padding-bottom: 20px;

}

.inputSection label {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.inputSection input {
  height: 25px;
  margin: 10px;
}

button {
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 30px;
  color: white;
  border-radius: 6px;
  border-color: white;
}

.katikButton1 {
  margin-left: 50%;
  background-color: blue;
}

.katikButton2 {
  margin-left: 89%;
  background-color: orange;
}